.list-item {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.text-gray {
  color: #4b5563;
}

.filter-box {
  background-color: #f9fafb;
  border-bottom: 1px solid #eee;
}
