:root {
  --default-color: rgba(0, 0, 0, 0.6);
  --hover-color: rgba(0, 0, 0, 0.87);
  --focus-color: #0460a9;
  --error-color: #d32f2f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.p-inputtext {
  border: 1px solid var(--default-color);
}

.p-inputtext:hover {
  border: 1px solid var(--hover-color);
}

.p-inputtext:focus {
  border-color: var(--focus-color);
  box-shadow: 0 0 0 1px var(--focus-color);
}

.p-inputtext:active {
  border: 1px solid var(--default-color);
}

.p-inputtext:invalid {
  border: 1px solid var(--error-color);
  box-shadow: none;
}

.p-float-label input ~ label {
  color: var(--default-color);
  background-color: white;
  padding: 0 0.1rem;
}

.p-float-label input:hover ~ label {
  color: var(--hover-color);
}

.p-float-label input:focus ~ label {
  color: #0460a9;
  top: 2px;
}

.p-float-label input:disabled ~ label {
  color: rgba(0, 0, 0, 0.38);
}

.p-float-label input:invalid ~ label {
  color: #d32f2f;
}

.p-multiselect {
  border: 1px solid var(--default-color);
}

.p-multiselect:hover {
  border: 1px solid var(--hover-color);
}

.p-multiselect:not(.p-disabled).p-focus {
  border-color: var(--focus-color);
  box-shadow: 0 0 0 1px var(--focus-color);
}

.p-float-label .p-multiselect ~ label {
  color: var(--default-color);
  background-color: white;
  padding: 0 0.1rem;
}

.p-float-label .p-multiselect:hover ~ label {
  color: var(--hover-color);
}

.p-float-label .p-multiselect:not(.p-disabled).p-focus ~ label {
  color: var(--focus-color);
  top: 2px;
}

.p-float-label .p-multiselect:invalid ~ label {
  color: var(--error-color);
}

.p-multiselect:not(.p-disabled).p-focus .p-multiselect-trigger {
  color: var(--focus-color);
}
